#contact{
    height:100%;
    width:100%;
    display:flex;
}

.contactHeader{
    margin-bottom:50px;
    margin-top:-100px;
}

input{
    height:35px;
    width:400px;
    border:2px solid $main-blue;
    margin-top:20px;
    margin-bottom:20px;
}

textarea{
    border:2px solid $main-blue;
    width:400px;
    margin-top:20px;
}

.contactButton{
    width:100px;
    border-radius:30px;
    background-color:$main-yellow;
    color:white;
    text-align:center;
    height:50px;
    line-height:50px;
    margin-top:50px;
    margin-left:-300px;
}

.contactButton:hover{
    cursor:pointer;
}