nav{
    height:100px;
    width:100%;
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:$main-blue;
}

.logo{
    margin-left:50px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:50px;
}

.line{
    height:10px;
    background-color:white;
    margin:5px;
}

.lineOne{
    width:100px;
}

.lineTwo{
    width:75px;
}

.lineThree{
    width:65px;
}